<form action="" method="post">
  <table>
    <tr>
      <td>
        <input type="text" name="name" id="name" placeholder="Enter Name ..!"/>
      </td>
    </tr>
    <tr>
      <td>
        <input type="number" name="age" id="age" placeholder="Enter Age ..!"/>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td align="center">
        <input type="submit" value="Data Submit" />
      </td>
    </tr>
  </table>
</form>
